name: Release Package

# need to setup:
# secrets.PYPI_API_TOKEN (See: https://pypi.org/help/#apitoken)
# secrets.TESTPYPI_API_TOKEN (See: https://test.pypi.org/help/#apitoken)

on:
  schedule:
  - cron: 0 0 * * *
  workflow_dispatch:

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: astral-sh/setup-uv@v7
      with:
        enable-cache: true
        cache-dependency-glob: uv.lock
    - name: Publish package
      run: uv run task publish
      env:
        TESTPYPI_API_TOKEN: ${{ secrets.TESTPYPI_API_TOKEN }}
        PYPI_API_TOKEN: ${{ secrets.PYPI_API_TOKEN }}
